@font-face {
    font-family: 'Pistilli';
    src: url(./fonts/Pistilli.woff2) format('woff2');
}

#jouy {
    font-family: 'Pistilli';
    font-size: 150px;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease, color 0.3s ease;
}

#jouy:hover {
    transform: scale(1.05) rotate(3deg);
    position:relative;
    left:50px;
    color: rgb(176, 204, 255); 
}
body {
    font-family: 'futura';
    font-size: 25px;
    background-color: rgb(254, 247, 237);
}

.link-color {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3s ease, letter-spacing 0.3s ease;
}

.link-color:hover {
    color: rgb(255, 72, 0); 
    letter-spacing: 1px;
}